<div class="min-h-screen flex items-center justify-center bg-gray-50">
    <form [formGroup]="loginForm" class="w-full max-w-md space-y-6">
      <mat-card class="p-4">
        <mat-card-title class="text-xl font-bold text-center">
            เข้าระบบ
        </mat-card-title>
        <mat-card-subtitle class="text-center">Log in to your account</mat-card-subtitle>
        
        <mat-card-content class="space-y-4">
  
          <!-- Email -->
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" autocomplete="email">
            <mat-error>Please enter a valid email</mat-error>
            <mat-error>Email is <strong>required</strong></mat-error>
          </mat-form-field>
  
          <!-- Password -->
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" autocomplete="current-password">
            <mat-error>Password is <strong>required</strong></mat-error>
          </mat-form-field>
  
  
        </mat-card-content>
  
        <mat-card-actions class="flex justify-between items-center px-4 pb-4">
          <button mat-raised-button color="primary" (click)="login()" class="border">Login</button>
          <button mat-button type="button" >Reset Password</button>
        </mat-card-actions>
      </mat-card>
  
    </form>
  </div>
  